In [1]:
import pandas as pd

In [2]:
linhas = [['00000000078912123123'], ['000000728160123123'], ['00000000028362930276'], ['00000000063862625623']]

df = pd.DataFrame(linhas, columns=['CPF'])

In [3]:
df

                    CPF
0  00000000078912123123
1    000000728160123123
2  00000000028362930276
3  00000000063862625623

In [4]:
df['CPF_CORTADO'] = df['CPF'].apply(lambda x: x[-11::] if x != 0
                                           else x)

In [5]:
df

                    CPF  CPF_CORTADO
0  00000000078912123123  78912123123
1    000000728160123123  28160123123
2  00000000028362930276  28362930276
3  00000000063862625623  63862625623